/* MY CSS CODE */

body{
    color: white;
}

header{
    background-color: #2c3e50;
    height: 60px;
}

.green-bg{
    background-color: #1abc9c;
}

.text-green{
    color:  #1abc9c;
}

.img-freelancer{
    height: 200px;
}

.star-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 0.75rem;
}


.social-icons{
    height: 55px;
    padding: .25rem 0;
    margin-top: .25rem;
}

.contact-me{
    height: 400px;
}


.list-freelancer{
    list-style-type: " - ";
    gap: 0.7rem;
    margin-right: 2rem;
    font-size: 0.9rem;
}
.list-freelancer li:first-child{
    list-style-type: none;
}

.line{
    height: 3px;
    width: 75px;
    background-color: white;
}

.line-black{
    height: 3px;
    width: 75px;
    background-color: black;
}

.color-white{
    background-color: white;
}


.color-black{
    color: black;
}

.text-white{
    color: white;
}

h2{
    color: #333333;
}

.upper-footer{
    background-color: #3a546d;
}
.lower-footer{
    background-color: #2c3e50;
}

nav{
    background-color: #2c3e50;
    /* z-index: 1;
    position: fixed;
    width: 100%;
    top: 0; */
}

/* .navbar-brand{
    color: white;
} */

/* SOLUZIONI RESPONSIVE */


/* da sm 576 a  md 768px */

@media screen and (min-width:768px) {
    .about-freelancer{
        padding: 0 0rem !important;
    }
}

/* da md 768 a lg 992px */

@media screen and (min-width:992px) {
    .location{
        padding: 0 3rem !important;
    }
}